<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'sendText.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea
    [(ngModel)]="text"
    [placeholder]="'sendText.placeholder' | translate"
    [rows]="6"
    [autofocus]="true"
    class="send-text-area">
  </ion-textarea>

  <div class="send-buttons">
    <ion-button expand="block" (click)="sendKeyboard()">
      <ion-icon slot="start" name="keypad-outline"></ion-icon>
      {{ 'sendText.sendKeyboard' | translate }}
    </ion-button>
    <ion-button expand="block" color="secondary" (click)="sendClipboard()">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      {{ 'sendText.sendClipboard' | translate }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="pasteFromClipboard()">
      <ion-icon slot="start" name="clipboard"></ion-icon>
      {{ 'sendText.pasteFromClipboard' | translate }}
    </ion-button>
  </div>
</ion-content>
