<ion-header data-layout="header-buttons-v2">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'sendText.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pasteFromClipboard()">
        <ion-icon name="clipboard-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="send-buttons-toolbar">
    <div class="send-buttons">
      <ion-button expand="block" (click)="sendKeyboard()">
        <ion-icon slot="start" name="keypad-outline"></ion-icon>
        {{ 'sendText.sendKeyboard' | translate }}
      </ion-button>
      <ion-button expand="block" color="secondary" (click)="sendClipboard()">
        <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
        {{ 'sendText.sendClipboard' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <textarea
    class="fill-textarea"
    [(ngModel)]="text"
    [placeholder]="'sendText.placeholder' | translate"
    autofocus></textarea>
</ion-content>
